services:
  postgres:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    ports:
      - "5432:5432"

  backend:
    image: lute-backend:latest
    build: backend/
    volumes:
      - ./lute-config.yaml:/app/lute-config.yaml
    ports:
      - "7001:7001"
    depends_on:
      - postgres

  frontend:
    image: lute-frontend:latest
    build: frontend/
    ports:
      - "5173:5173"
    depends_on:
      - backend

