services:
  postgres:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    ports:
      - "5432:5432"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"

  backend:
    image: lute-backend:latest
    build: backend/
    volumes:
      - ./lute-config.yaml:/app/lute-config.yaml
    ports:
      - "7001:7001"
    depends_on:
      - postgres
      - minio

  frontend:
    image: lute-frontend:latest
    build: frontend/
    ports:
      - "3000:3000"
    depends_on:
      - backend

