# This is an example .env file for the project.
# You can copy it and make changes to customise
# your development environment.

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

